<configuration>

	<timestamp key="bySecond" datePattern="'T'HH-mm-ss 'D'MM-dd"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>Logs/general - ${bySecond}.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="CLIENT_DOER" class="ch.qos.logback.core.FileAppender">
    <file>Logs/CLIENT_DOER - ${bySecond}.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="COMMUNICATOR1" class="ch.qos.logback.core.FileAppender">
    <file>Logs/COMMUNICATOR1 - ${bySecond}.log</file>
	<append>false</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="TRACE">
	<appender-ref ref="FILE" />
  </root>
  
	<logger name="TanksCommon.Doer.ClientDoer" level="debug" additivity="false">
        <appender-ref ref="CLIENT_DOER"/>
	</logger>
	
	<logger name="TanksCommon.Communicator1" level="debug" additivity="false">
        <appender-ref ref="COMMUNICATOR1"/>
	</logger>
</configuration>